
[Desktop Entry]
Name=Bumblebee Applications Settings
Comment=A configuration tool, to set applications to run with Bumblebee
Exec=bumblebee-app-settings
Icon=bumblebee
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
Name[fr_FR]=Configuration Bumblebee 
