
[Desktop Entry]
Name=Bumblebee Applications Settings
Name[fr]=Bumblebee - Configurer les applications
Comment=A configuration tool, to set applications to be run with optirun
Comment[fr]=Un outil de configuration des applications à lancer avec optirun
Exec=bumblebee-app-settings
Icon=bumblebee
Type=Application
Categories=System;Settings;GNOME;GTK;
